<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="../static/profile.css" rel="stylesheet">
</head>
<body>
    <script>
        function startStream(userInput) {
            const eventSource = new EventSource(`/stream_response?user_input=${userInput}`);
            console.log('发送成功');
            const chatHistory = document.getElementById('chat_history');
            const newMessage = document.createElement('div');
            newMessage.className = 'chat-bubble ai';
            newMessage.textContent = 'AI: ';
            chatHistory.appendChild(newMessage);
            eventSource.onmessage = function(event) {
                const data = event.data;
                console.log('Received data:', data);
                newMessage.textContent += data;
            };
            eventSource.onerror = function(error) {
                console.error('Error occurred:', error);
                eventSource.close();
            };
        }
        function sendMessage() {
            const userInput = document.getElementById('user_input').value;
            const chatHistory = document.getElementById('chat_history');
            const userMessage = document.createElement('div');
            userMessage.className = 'chat-bubble user';
            userMessage.textContent = `User: ${userInput}`;
            chatHistory.appendChild(userMessage);
            
            // 启动流式传输
            startStream(userInput);

            // 清空输入框
            document.getElementById('user_input').value = '';
        }
    </script>
    <h1>你好, {{ username }}!</h1>
    <div>
        <h2>对话历史</h2>
        <div id="chat_history">
            {% for message in chat_history %}
                {% if message.user == 'user' %}
                    <div class="chat-bubble user">
                        <strong> {{ message.user }} </strong>: {{ message.text }}
                    </div>
                {% else %}
                    <div class="chat-bubble ai">
                        <strong> {{ message.user }} </strong>: {{ message.text }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <form>
        <label for="user_input">输入:</label>
        <input type="text" id="user_input" name="user_input" required>
        <button onclick="sendMessage()">Send</button>
    </form>

    <a href="{{ url_for('logout') }}">登出</a>
    <a href="{{ url_for('upload_file') }}">上传知识库文件</a>
</body>
</html>